@using System.Security.Claims

@{
    ViewData["Title"] = "View Cookies";
}

<!DOCTYPE html>
<html>
<head>
    <title>Cookie Sharing between ASP.NET Core and ASP.NET 4.5</title>
</head>
<body>
<div id="content">
    <h1>Cookie Sharing between ASP.NET Core and ASP.NET 4.5</h1>
    <h2>This is .NET "Full" Framework</h2>
    <hr/>
    @if (Context.Request.Cookies.Count != 0)
    {
        <h3>Cookies</h3>
        <table class="cookie">
            <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            @foreach (string key in Context.Request.Cookies.Keys)
            {
                <tr>
                    <td>@key</td>
                    <td>@Context.Request.Cookies[key].Value</td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <h3>No cookies found.</h3>
    }
    <hr/>
    @if (User.Identity.IsAuthenticated)
    {
        <h3>Current User Details</h3>
        <table class="col-md-12">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Value</th>
                    <th>Issuer</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var claimsUser = User.Identity as ClaimsIdentity;
                    if (claimsUser != null)
                    {
                        foreach (var c in claimsUser.Claims)
                        {
                            <tr>
                                <td>@c.Type</td>
                                <td>@c.Value</td>
                                <td>@c.Issuer</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="3">Cookie user is not a ClaimsIdentity.</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
                    }
</div>
</body>
</html>